#name {
    font-size: x-large;
}

#intro {
    /* display:flex; */
}

#intro-bio-nav-wrapper {
    float: left;
}

#current-work-nav-wrapper {
    float: right;
    position: relative;
}

#cover-img {
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    border-radius: 10px;
}

#profile-img {
    width: 160px;
    position: absolute;
    display: block;
    top: 300px;
    left: 50px;

}

#dp {
    border: 5px solid white;
    border-radius: 100px;
}

#bio-short-msg {
    font-size: small;
}

#bio-location {
    font-size: small;
}

.work-cond-wrapper {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}

.button-gang {
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}

#open-to-button {
    background-color: #1a8dff;
    color: white;
}

a {
    color: #1a8dff;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.li-work-cond-wrapper {
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
}

.info {
    list-style: none;
    padding: 0;
    /* display: flex; */
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}

section {
    border: 1px solid black;
    border-radius: 10px;
}

.nav-list{
    /* float: right; */
    list-style: none;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}
