body{
    font-family: "Comic Sans MS";
    background-color: #a1f354;
}

#submit-button:hover{
    background-color: orange;
    font-weight: bold;
}

#input-box:focus{
    background-color: #eeee90;
}