#my-canvas {
    width: 100%;
    border: 3px solid #000000;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 900px;
    margin: auto;
    font-family: "Arial";
}

.toolbar {
    width: 100%;
    background-color: #444444;
    overflow: auto;
}

.toolbar a {
    float: left;
    width: 15%;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s ease;
    color: white;
}

.toolbar a:hover {
    background-color: #000;
}

.toolbar a img{
    max-width:100%;
    height:auto;
}